
 <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef="let element; let i = index" mat-sort-header> {{ column }} 
      <mat-select #mySel (click)="dropDown(mySel,column)" [ngModel]="numbers" multiple>
        <mat-checkbox #checkbox  [checked]="true" (click)="selectAll(checkbox,column)" style="padding-left: 17px;">Select all</mat-checkbox>
        <mat-option #myOption (click)="applyFilter(myOption,column)" *ngFor="let option of columnDropdownOptions" [value]="option">{{option}}</mat-option>
        <button>Clear Filter</button>
      </mat-select>
    </th>
    <td (click)="onClick(element)" mat-cell *matCellDef="let element"> {{ element[column] }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--row.columnName === ""-->
<!--<ng-container *ngFor="let col of cols" [matColumnDef]="col">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ col }} </th>
  <td mat-cell *matCellDef="let element"> {{ element[col] }} </td>
</ng-container>-->